<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinebusticketing">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineBusTicketing">
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <!-- android:theme="@style/Theme.OnlineBusTicketing" -->
        <activity
            android:name=".RechargePage"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".InputActivity"
            android:exported="false" />
        <activity
            android:name=".WalletPage"
            android:exported="false" />
        <activity
            android:name=".WalletKYC"
            android:exported="false" />
        <activity
            android:name=".PaymentMethods"
            android:exported="true" />
        <activity
            android:name=".EligibleBusList"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchBusEntry"
            android:exported="false" />
        <activity
            android:name=".ListOfBusStops"
            android:exported="true" />
        <activity
            android:name=".Ticket_Summary"
            android:exported="true" />
        <activity
            android:name=".BookTickets"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".VerificationPage"
            android:exported="true" />
    </application>

</manifest>